@{
    ViewData["Title"] = "Public Order Data";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Group Name</th>
            <th>Cost [PLN]</th>
            <th>CPV Code</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Silniki</td>
            <td>0</td>
            <td>023</td>
            
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>CPV Code</th>            
        </tr>
    </tfoot>
</table>


<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
